<!-- views/loads-show -->
<h1>Load</h1>
<h1>Pickup Date: {{load.pickupDate}}</h1>
<h3>Origin Location: {{load.originLocation}}</h3>
<h3>Destination: {{load.destination}}</h3>
<h3>Price: {{load.price}}</h3>
<h3>Content: {{load.content}}</h3> 
