<!-- views/loads-show -->
<div id="loads-show">
    <a href="/loads">Back to Home</a>
    <div class="row" >
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Load Information</h1>
            <p>Company: {{load.company}}</p>
            <p>Pickup Date: {{load.pickupDate}}</p>
            <p>Origin Location: {{load.originLocation}}</p>
            <p>Destination: {{load.destination}}</p>
            <p>Rate: {{load.rate}}</p>

            <hr>

            <!-- Comment form -->
            {{> comment-form}}

            <hr>

            <!-- Show Coments -->
            <h4>Reviews: </h4>
            <div class="comments-show">
            {{#each comments}}
                {{> comment}}
            {{/each}}
            </div>
        </div>
    </div>
</div>
