<!-- views/loads-index -->
<div class="loads-index">
    <h1>Loads</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pickup Date</th>
                <th scope="col">Origin Location</th>
                <th scope="col">Destination </th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each loads}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td><a href="/loads/{{this._id}}">{{this.pickupDate}}</a></td>
                <td>{{this.originLocation}}</td>
                <td>{{this.destination}}</td>
                <td>{{this.price}}</td>
            </tr>
            {{else}}
                <h3 class="empty">No loads</h3>
            {{/each}}
        </tbody>
    </table>
</div>
